xsd/configurationDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Chris Van Lith (B3Partners BV) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="usage" type="xs:string"/>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="?"/>
				<xs:enumeration value="Boolean"/>
				<xs:enumeration value="MovieCli"/>
				<xs:enumeration value="MovieClip"/>
				<xs:enumeration value="Movieclip"/>
				<xs:enumeration value="Number"/>
				<xs:enumeration value="Object"/>
				<xs:enumeration value="String"/>
				<xs:enumeration value="XML"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Flamingo Component Reference"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="see">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="addListener"/>
				<xs:enumeration value="getPosition"/>
				<xs:enumeration value="removeListener"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="returntype">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Array "/>
				<xs:enumeration value="Boolean "/>
				<xs:enumeration value="MovieClip "/>
				<xs:enumeration value="Object "/>
				<xs:enumeration value="String "/>
				<xs:enumeration value="Void "/>
				<xs:enumeration value="XML "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="return" type="xs:string"/>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=".tooltip"/>
				<xs:enumeration value="&lt;cursor&gt;"/>
				<xs:enumeration value="&lt;flamingo&gt;"/>
				<xs:enumeration value="&lt;string&gt;"/>
				<xs:enumeration value="&lt;style&gt;"/>
				<xs:enumeration value="&lt;xguide&gt;"/>
				<xs:enumeration value="&lt;yguide&gt;"/>
				<xs:enumeration value="&lt;{component}&gt;"/>
				<xs:enumeration value="Flamingo Framework"/>
				<xs:enumeration value="about"/>
				<xs:enumeration value="addComponent"/>
				<xs:enumeration value="addListener"/>
				<xs:enumeration value="allowstrangers"/>
				<xs:enumeration value="arg0"/>
				<xs:enumeration value="arg1"/>
				<xs:enumeration value="argname"/>
				<xs:enumeration value="args"/>
				<xs:enumeration value="asArray"/>
				<xs:enumeration value="backgroundalpha"/>
				<xs:enumeration value="backgroundcolor"/>
				<xs:enumeration value="borderalpha"/>
				<xs:enumeration value="bordercolor"/>
				<xs:enumeration value="borderwidth"/>
				<xs:enumeration value="bottom"/>
				<xs:enumeration value="callMethod"/>
				<xs:enumeration value="callbacktype"/>
				<xs:enumeration value="caller"/>
				<xs:enumeration value="clear"/>
				<xs:enumeration value="clearXMLPool"/>
				<xs:enumeration value="color"/>
				<xs:enumeration value="comp"/>
				<xs:enumeration value="componentsloaded"/>
				<xs:enumeration value="configsloaded"/>
				<xs:enumeration value="correctTarget"/>
				<xs:enumeration value="correctUrl"/>
				<xs:enumeration value="cursor"/>
				<xs:enumeration value="cursorid"/>
				<xs:enumeration value="cursors"/>
				<xs:enumeration value="defaultstring"/>
				<xs:enumeration value="delay"/>
				<xs:enumeration value="deleteArgument"/>
				<xs:enumeration value="deleteXML"/>
				<xs:enumeration value="display"/>
				<xs:enumeration value="error"/>
				<xs:enumeration value="event"/>
				<xs:enumeration value="exists"/>
				<xs:enumeration value="file"/>
				<xs:enumeration value="filename"/>
				<xs:enumeration value="fname"/>
				<xs:enumeration value="font-family"/>
				<xs:enumeration value="font-size"/>
				<xs:enumeration value="font-style"/>
				<xs:enumeration value="font-weight"/>
				<xs:enumeration value="from"/>
				<xs:enumeration value="getArgument"/>
				<xs:enumeration value="getComponent"/>
				<xs:enumeration value="getComponents"/>
				<xs:enumeration value="getCookie"/>
				<xs:enumeration value="getCursor"/>
				<xs:enumeration value="getDefaultXML"/>
				<xs:enumeration value="getId"/>
				<xs:enumeration value="getLanguage"/>
				<xs:enumeration value="getNocacheName"/>
				<xs:enumeration value="getParent"/>
				<xs:enumeration value="getPosition"/>
				<xs:enumeration value="getProperty"/>
				<xs:enumeration value="getSameComponents"/>
				<xs:enumeration value="getString"/>
				<xs:enumeration value="getStyleSheet"/>
				<xs:enumeration value="getType"/>
				<xs:enumeration value="getUniqueId"/>
				<xs:enumeration value="getUrl"/>
				<xs:enumeration value="getVersion"/>
				<xs:enumeration value="getXML"/>
				<xs:enumeration value="getXMLfromPool"/>
				<xs:enumeration value="getXMLs"/>
				<xs:enumeration value="guides"/>
				<xs:enumeration value="height"/>
				<xs:enumeration value="hideCursor"/>
				<xs:enumeration value="hideTooltip"/>
				<xs:enumeration value="id"/>
				<xs:enumeration value="isLoading"/>
				<xs:enumeration value="isVisible"/>
				<xs:enumeration value="kerning"/>
				<xs:enumeration value="killComponent"/>
				<xs:enumeration value="lTrim"/>
				<xs:enumeration value="lang"/>
				<xs:enumeration value="language"/>
				<xs:enumeration value="languages"/>
				<xs:enumeration value="left"/>
				<xs:enumeration value="letter-spacing"/>
				<xs:enumeration value="linkageid"/>
				<xs:enumeration value="list"/>
				<xs:enumeration value="listener"/>
				<xs:enumeration value="listento"/>
				<xs:enumeration value="loadComponent"/>
				<xs:enumeration value="loadConfig"/>
				<xs:enumeration value="loadXMLPool"/>
				<xs:enumeration value="margin-left"/>
				<xs:enumeration value="margin-right"/>
				<xs:enumeration value="maxheight"/>
				<xs:enumeration value="maxwidth"/>
				<xs:enumeration value="mc"/>
				<xs:enumeration value="method"/>
				<xs:enumeration value="minheight"/>
				<xs:enumeration value="minwidth"/>
				<xs:enumeration value="msg"/>
				<xs:enumeration value="name"/>
				<xs:enumeration value="nocache"/>
				<xs:enumeration value="obj"/>
				<xs:enumeration value="object"/>
				<xs:enumeration value="onConfig"/>
				<xs:enumeration value="onConfigComplete"/>
				<xs:enumeration value="onConfigProgress"/>
				<xs:enumeration value="onError"/>
				<xs:enumeration value="onInit"/>
				<xs:enumeration value="onKillComponent"/>
				<xs:enumeration value="onLoadComponent"/>
				<xs:enumeration value="onLoadXMLPool"/>
				<xs:enumeration value="onResize"/>
				<xs:enumeration value="onSetLanguage"/>
				<xs:enumeration value="parent"/>
				<xs:enumeration value="parseCursor"/>
				<xs:enumeration value="parseGuide"/>
				<xs:enumeration value="parseString"/>
				<xs:enumeration value="parseStyle"/>
				<xs:enumeration value="parseXML"/>
				<xs:enumeration value="position"/>
				<xs:enumeration value="prop"/>
				<xs:enumeration value="rTrim"/>
				<xs:enumeration value="raiseEvent"/>
				<xs:enumeration value="removeListener"/>
				<xs:enumeration value="reset"/>
				<xs:enumeration value="resize"/>
				<xs:enumeration value="right"/>
				<xs:enumeration value="s"/>
				<xs:enumeration value="sameparent"/>
				<xs:enumeration value="sameurl"/>
				<xs:enumeration value="sep"/>
				<xs:enumeration value="setArgument"/>
				<xs:enumeration value="setConfig"/>
				<xs:enumeration value="setCookie"/>
				<xs:enumeration value="setCursor"/>
				<xs:enumeration value="setLanguage"/>
				<xs:enumeration value="setProperty"/>
				<xs:enumeration value="setString"/>
				<xs:enumeration value="showCursor"/>
				<xs:enumeration value="showError"/>
				<xs:enumeration value="showTooltip"/>
				<xs:enumeration value="stringid"/>
				<xs:enumeration value="strings"/>
				<xs:enumeration value="styles"/>
				<xs:enumeration value="targetid"/>
				<xs:enumeration value="text-align"/>
				<xs:enumeration value="text-decoration"/>
				<xs:enumeration value="text-indent"/>
				<xs:enumeration value="timeout"/>
				<xs:enumeration value="tiptext"/>
				<xs:enumeration value="title"/>
				<xs:enumeration value="to"/>
				<xs:enumeration value="tooltipbordercolor"/>
				<xs:enumeration value="tooltipcolor"/>
				<xs:enumeration value="tooltipdelay"/>
				<xs:enumeration value="tooltipshadow"/>
				<xs:enumeration value="top"/>
				<xs:enumeration value="totalcomponents"/>
				<xs:enumeration value="totalconfigs"/>
				<xs:enumeration value="tracer"/>
				<xs:enumeration value="trim"/>
				<xs:enumeration value="url"/>
				<xs:enumeration value="useexternalinterface"/>
				<xs:enumeration value="value"/>
				<xs:enumeration value="visible"/>
				<xs:enumeration value="width"/>
				<xs:enumeration value="x"/>
				<xs:enumeration value="xcenter"/>
				<xs:enumeration value="xml"/>
				<xs:enumeration value="xoffset"/>
				<xs:enumeration value="y"/>
				<xs:enumeration value="ycenter"/>
				<xs:enumeration value="yoffset"/>
				<xs:enumeration value="{lang}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="methods">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="usage" type="xs:string" minOccurs="0"/>
				<xs:element name="example" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="arguments" type="xs:string" minOccurs="0"/>
				<xs:element name="returntype" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="return" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hierarchy" type="xs:string"/>
	<xs:element name="generated"/>
	<xs:element name="flamingodoc">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="generated" type="xs:string"/>
				<xs:element ref="component"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file" type="xs:string"/>
	<xs:element name="example" type="xs:string"/>
	<xs:element name="events">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="returntype" type="xs:string" minOccurs="0"/>
				<xs:element name="arguments" type="xs:string" minOccurs="0"/>
				<xs:element name="usage" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="configtags">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="configtag" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configtag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="hierarchy" type="xs:string" minOccurs="0"/>
				<xs:element name="example" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configstyle">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="change" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="version" type="xs:string" minOccurs="0"/>
				<xs:element name="configstrings" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="configstring" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" minOccurs="0"/>
										<xs:element name="name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="configcursors" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="configcursor" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" minOccurs="0"/>
										<xs:element name="name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="configstyles" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="configstyle" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element ref="configtags" minOccurs="0"/>
				<xs:element ref="methods" minOccurs="0"/>
				<xs:element ref="events" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arguments" type="xs:string"/>
</xs:schema>
